<template>
  <q-banner inline-actions :class="bgColor" class="text-white list-header">
    <span class="text-bold text-subtitle1"><slot></slot></span>
  </q-banner>
</template>

<script>
export default {
  props: ["bgColor"],
};
</script>

<style>
.list-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
</style>
