<template>
  <q-item
    @click="updateTask({ id: id, updates: { completed: !task.completed } })"
    :class="
      !task.completed
        ? isDark
          ? 'bg-grey-6'
          : 'bg-orange-1'
        : isDark
        ? 'bg-grey-4'
        : 'bg-green-1'
    "
    v-touch-hold:1000.mouse="showEditTaskModal"
    clickable
    v-ripple
  >
    <q-item-section side top>
      <q-checkbox v-model="task.completed" class="no-pointer-events" />
    </q-item-section>

    <q-item-section>
      <q-item-label :class="{ 'text-strikethrough': task.completed }" v-html="$options.filters.searchHighLight(task.name, search)"/>
    </q-item-section>

    <q-item-section v-if="task.dueDate" side>
      <div class="row items-center">
        <q-icon name="event" size="18px" class="q-mr-md" />
        <q-item-label caption>
          {{ task.dueDate | niceDate }}
        </q-item-label>
      </div>
    </q-item-section>

    <q-item-section side>
      <div class="row">
        <q-btn
          @click.stop="showEditTaskModal"
          flat
          round
          dense
          :color="isDark ? 'grey-4' : 'primary'"
          icon="edit"
        />
        <q-btn
          @click.stop="promptToDelete(id)"
          flat
          round
          dense
          :color="isDark ? 'grey-4' : 'grey'"
          icon="delete"
        />
      </div>
    </q-item-section>

    <q-dialog v-model="showEditTask">
      <edit-task @close="showEditTask = false" :task="task" :id="id" />
    </q-dialog>
  </q-item>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import { date } from 'quasar';
const { formatDate } = date;

export default {
  props: ["task", "id"],
  data() {
    return {
      showEditTask: false,
    };
  },

  methods: {
    ...mapActions("tasks", ["updateTask", "deleteTask"]),
    promptToDelete(id) {
      this.$q
        .dialog({
          title: "Confirm",
          message: "Really delete?",
          ok: {
            push: true,
          },
          cancel: {
            color: "negative",
          },
          persistent: true,
          class: this.bgColor(),
        })
        .onOk(() => {
          this.deleteTask(id);
        });
    },
    bgColor() {
      if (this.isDark) {
        return "bg-blue-grey-3";
      }
    },
    showEditTaskModal () {
      this.showEditTask = true;
    },
  },

  components: {
    "edit-task": require("components/Tasks/Modals/EditTask.vue").default,
  },

  computed: {
    ...mapGetters("tasks", ["isDark"]),
    ...mapState("tasks", ["search"]),
  },

  filters:{
    niceDate(value){
      return formatDate(value, 'MMM D')
    },
    searchHighLight(value, search){
      let searchRegexExp = new RegExp(search, 'ig')
      if(search){
        return value.replace(searchRegexExp, (match)=>{
          return '<span class="bg-yellow-4">' + match + '</span>'
        });
      }
      return value;
    }
  },
};
</script>

<style>
</style>
