<template>
  <transition
    appear
    enter-active-class="animated zoomIn"
    leave-active-class="animated zoomOut"
  >
    <div v-if="Object.keys(tasksCompleted).length" class="q-mt-lg">
      <list-header :bgColor="isDark ? 'bg-blue-grey-3' : 'bg-light-green-2'"
        >Done</list-header
      >
      <q-list bordered separator>
        <task
          v-for="(task, key) in tasksCompleted"
          :key="key"
          :task="task"
          :id="key"
        ></task>
      </q-list>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  props: ["tasksCompleted"],
  components: {
    task: require("components/Tasks/Task.vue").default,
    "list-header": require("components/Shared/ListHeader.vue").default,
  },
  computed: {
    ...mapGetters("tasks", ["isDark"]),
  },
};
</script>
