<template>
  <q-page>
    <div class="q-pa-md absolute full-width full-height column">
      <div class="row q-mb-lg">
        <search />
        <sort />
      </div>

      <q-scroll-area
        class="q-scroll-area-tasks"
      >
        <no-tasks v-if="!Object.keys(tasksTodo).length && !search" />

        <p
          v-if="
            !Object.keys(tasksTodo).length &&
            !Object.keys(tasksCompleted).length &&
            search
          "
        >
          No search results
        </p>

        <tasks-todo
          v-if="Object.keys(tasksTodo).length"
          :tasksTodo="tasksTodo"
        />

        <tasks-completed
          v-if="Object.keys(tasksCompleted).length"
          :tasksCompleted="tasksCompleted"
          class="q-mb-xl"
        />
      </q-scroll-area>

      <div class="absolute-bottom text-center q-mb-lg no-pointer-events">
        <q-btn
          @click="showAddTask = true"
          round
          :color="isDark ? 'grey-7' : 'primary'"
          size="24px"
          icon="add"
          class="all-pointer-events"
        />
      </div>

      <q-dialog v-model="showAddTask">
        <add-task @close="showAddTask = false" />
      </q-dialog>
    </div>
  </q-page>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  data() {
    return {
      showAddTask: false,
    };
  },
  computed: {
    ...mapGetters("tasks", ["tasksTodo", "tasksCompleted", "isDark"]),
    ...mapState("tasks", ["search"]),
  },
  mounted() {
    this.$root.$on("showAddTask", () => {
      this.showAddTask = true;
    });
  },
  components: {
    "add-task": require("components/Tasks/Modals/AddTask.vue").default,
    "tasks-todo": require("components/Tasks/TasksTodo.vue").default,
    "tasks-completed": require("components/Tasks/TasksCompleted.vue").default,
    "list-header": require("components/Shared/ListHeader.vue").default,
    "no-tasks": require("components/Tasks/NoTasks.vue").default,
    search: require("components/Tasks/Tools/Search.vue").default,
    sort: require("components/Tasks/Tools/Sort.vue").default,
  },
};
</script>

<style>
.text-strikethrough {
  text-decoration: line-through;
}
.q-scroll-area-tasks{
  display: flex;
  flex-grow: 1;
}
</style>
