<template>
  <q-page padding>
    <div class="q-pa-md q-gutter-sm">
      <q-banner
        inline-actions
        rounded
        class="text-black"
        :class="isDark ? 'bg-grey-6' : 'bg-light-green-3'"
      >
        Dark mode

        <template v-slot:action>
          <q-toggle
            :style="isDark ? 'color: indigo-11' : 'color: deep-purple'"
            v-model="value"
            @input="darkMode()"
            keep-color
            readonly
        /></template>
      </q-banner>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      value: false,
    };
  },
  methods: {
    ...mapActions("tasks", ["toggleDarkMode"]),
    darkMode() {
      this.toggleDarkMode();
    },
  },
  computed: {
    ...mapGetters("tasks", ["isDark"]),
  },
};
</script>

<style>
</style>
