<template>
  <div class="q-mt-md">
    <q-card-actions align="right">
      <q-btn type="submit" label="Save" color="primary" />
    </q-card-actions>
  </div>
</template>

<script>
export default {};
</script>
