<template>
  <q-card-section class="q-pt-none">
    <q-input
      outlined
      autofocus
      v-select-all
      :value="name"
      @input="$emit('update:name', $event)"
      :rules="[(val) => !!val || 'Field is required']"
      class="col"
      ref="name"
      label="Task Name"
    >
      <template v-slot:append>
        <q-icon
          v-if="name"
          name="close"
          @click="$emit('update:name', '')"
          class="cursor-pointer"
        />
      </template>
    </q-input>
  </q-card-section>
</template>

<script>
import { selectAll } from 'src/directives/directive-select-all';

export default {
  props: ["name"],
  directives: {
    selectAll
  }
};
</script>
