<template>
  <q-card-section class="row justify-between">
    <div class="text-h6"><slot /></div>
    <q-btn v-close-popup @click="showAddTask = true" dense round icon="close" />
  </q-card-section>
</template>

<script>
export default {};
</script>
