<template>
  <q-layout :class="isDark ? 'bg-blue-grey-10' : 'bg-white'" view="hHh lpR fFf">
    <q-header :class="isDark ? 'bg-blue-grey-9' : 'bg-primary'" elevated>
      <q-toolbar>
        <q-toolbar-title class="absolute-center"> My Todo </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-footer elevated>
      <q-tabs>
        <q-route-tab
          v-for="link in essentialLinks"
          :key="link.title"
          :to="link.link"
          :icon="link.icon"
          :label="link.title"
        ></q-route-tab>
      </q-tabs>
    </q-footer>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      :breakpoint="767"
      :width="250"
      :content-class="isDark ? 'bg-blue-grey-9' : 'bg-primary'"
    >
      <q-list dark>
        <q-item-label header class="text-grey-4"> Navigation </q-item-label>
        <EssentialLink
          class="text-grey-3"
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          exact
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";
import { mapGetters } from "vuex";

const linksData = [
  {
    title: "Todo",
    icon: "list",
    link: "/",
  },
  {
    title: "Settings",
    icon: "settings",
    link: "/settings",
  },
];

export default {
  name: "MainLayout",
  components: { EssentialLink },
  data() {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData,
    };
  },
  computed: {
    ...mapGetters("tasks", ["isDark"]),
  },
};
</script>


<style lang="stylus">
@media screen and (min-width: 768px) {
  .q-footer {
    display: none;
  }

  .q-drawer .q-router-link--exact-active {
    color: white !important;
  }
}
</style>
