<template>
  <q-card :class="isDark ? 'bg-blue-grey-2' : ''">
    <modal-header>Add Task</modal-header>
    <form @submit.prevent="submitForm">
      <modal-task-name :name.sync="taskToSubmit.name" ref="modalTaskName" />
      <modal-due-date :dueDate.sync="taskToSubmit.dueDate"></modal-due-date>
      <modal-buttons />
    </form>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import mixinAddEditTask from 'src/mixins/mixin-add-edit-task.js';

export default {
  mixins: [mixinAddEditTask],
  data() {
    return {
      taskToSubmit: {
        name: "",
        completed: false,
        dueDate: "",
      },
    };
  },
  methods: {
    ...mapActions("tasks", ["addTask"]),
    submitTask() {
      this.addTask(this.taskToSubmit);
      this.$emit("close");
    },
  },
  components: {
    "modal-header": require("components/Tasks/Modals/Shared/ModalHeader.vue")
      .default,
    "modal-task-name": require("components/Tasks/Modals/Shared/ModalTaskName.vue")
      .default,
    "modal-due-date": require("components/Tasks/Modals/Shared/ModalDueDate.vue")
      .default,
    "modal-buttons": require("components/Tasks/Modals/Shared/ModalButtons.vue")
      .default,
  },
  computed: {
    ...mapGetters("tasks", ["isDark"]),
  },
};
</script>
