<template>
  <q-card :class="isDark ? 'bg-blue-grey-2' : ''">
    <modal-header>Edit Task</modal-header>
    <form @submit.prevent="submitForm">
      <modal-task-name :name.sync="taskToSubmit.name" ref="modalTaskName" />
      <modal-due-date :dueDate.sync="taskToSubmit.dueDate"></modal-due-date>
      <modal-buttons />
    </form>
  </q-card>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import mixinAddEditTask from 'src/mixins/mixin-add-edit-task.js';

export default {
  mixins: [mixinAddEditTask],
  props: ["task", "id"],
  data() {
    return {
      taskToSubmit: {},
    };
  },
  methods: {
    ...mapActions("tasks", ["updateTask"]),
    submitForm() {
      this.$refs.modalTaskName.$refs.name.validate();
      if (!this.$refs.modalTaskName.$refs.name.hasError) {
        this.submitTask();
      }
    },
    submitTask() {
      this.updateTask({
        id: this.id,
        updates: this.taskToSubmit,
      });
      this.$emit("close");
    },
  },
  created() {
    this.taskToSubmit = Object.assign({}, this.task);
  },
  computed: {
    ...mapGetters("tasks", ["isDark"]),
  },
};
</script>
